<!--HEADER-->
<header>
        <link rel="stylesheet" href="static/index.css">
  <div class="container">
    
    <div class="row">
      <div class="twelve columns">
        <nav>
          <ul>
          </ul>
        </nav>  
      </div> 
    </div>

    <div class="row">    
      <div class="twelve columns">
        <h1>- SKY WRITING -</h1>
        <h4>Ever imagine writing with a cap instead of a pen? Write into air and have it appear on all your devices!</h4>
      </div>
    </div>
    
    <section class="services">
      <div class="row">
        <div class="twelve columns">
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <a href="/text">
            <h4>Write</h4>
            <span class="fa fa-picture-o"></span>
            <p>Write in air and store it for later reference</p>
          </a>
        </div>
        <!-- <div class="one-half column">
          <a href="/AR">
            <h4>Augmented Reality</h4>
            <span class="fa fa-leaf"></span>
            <p>What you write in air is displayed to you using Augmented Reality</p>
          </a>
        </div> -->
      </div><!--end of .row-->
    </section>
  </div><!--end of .container-->
</header>
